<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/home.css" type="text/css">
</head>
<body>
    <div class="main">
      <navbar>
        <%- include('partials/nav'); -%>
      </navbar> 
      <section>
         <%- include('partials/ticket');-%>
      </section>
      
     
      <!-- 
        main page showing all view
       -->
      
     <div class="gridTamplet">
      <div class="hotels">
         <% data.forEach(x=>{%>
         <div class="div-img">
            
            
               
                <img src="./img/amazingView/<%=x.hotelImg[0].filename%>" >
            
            
            <div class="details-hotel">
               <%= x.price %>
               <%= x.hostName %>
            </div>
         </div>
         
      <%})%>
         </div>
     </div>
    
    </div>
    <script src="/js/index.js"></script>
</body>
</html>